html{
  background-color: white;
}

.header {
  border-bottom: 5px;
  border-bottom-color: #FFFFFF;
  background-color: black;
  background-image:
}

.header h1{
  color: #FFFFFF;
  font-size: 80px;
  font-family: "Benchnine";
  font-weight: bolder;
  background-color: black;
  margin:0;
}

.header h3
{
  background-color: black;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Benchnine";
  font-weight: bolder;
  margin:0;
  /*margin-bottom: 10px;*/
  padding-bottom: 40px;
}


#spinner {
  display: none;
  position: fixed;
  z-index: 11%;
  left: 50%;
  top: 80%;
}

.glyphicon-sunglasses {
  color: red;
  font-size: 1.3em;
  margin-left: 5px;
}

.big {
  font-family: "Benchnine";
  font-size: 1.5em;
  /*font-weight: bolder;*/
  color: red;
  border-bottom: solid white 1px;
}

.context {
  margin-top: 20px;
  margin-bottom: 10px;
  /*font-color:black;*/
}

.lead{
  color: red;
  font-family: "Benchnine";
  border-bottom: solid white 1px;
  font-weight: bolder;
  /*border-bottom-color: white;*/
  /*border-horizontal: 5px;*/
}

p{
  color: red;
  font-weight: bolder;
  font-family: "Benchnine";
  font-size: 20px;
}

.col-md-5 {
  margin-right: 100px;
}


.div-to-scroll {
  overflow: scroll;
}

.col-md-6 {
  float: right;
  bottom: 360px;
  /*margin-bottom: 300px;*/
  /*margin-bottom: 30px;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*top: 0px; */
  /*bottom: 10px;*/
  /*padding-bottom: 200px;*/
  /*margin-right: 20px;*/
}




