html{
  background-color: black;
}

h1{
  /*color: black;*/
  font-color: #FFFFFF;
  font-size: 80px;
  font-family: "Benchnine";
  font-weight: bolder;
  background-color: black ;
  margin:0;
}

h3{
  /*color: black;*/
  background-color: black;
  font-color: #FFFFFF;
  font-size: 30px;
  font-family: "Benchnine";
  font-weight: bolder;
  margin:0;
}


#spinner {
  display: none;
  position: fixed;
  z-index: 11%;
  left: 50%;
  top: 80%;
}

.glyphicon-headphones {
  color: crimson;
  font-size: 1.3em;
  margin-left: 5px;
}

.big {
  font-size: 1.5em;
  font-weight: bolder;
  color: white;
}

.context {
  margin-bottom: 10px;
}

.lead{
  color: white;
}

p{
  color: white;
}